
body {
    background-color: rgb(202, 170, 158);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container {
    flex-grow: 1;
}

.Title {
    color: rgb(255, 243, 243);
    text-align: center;
    width: fit-content;
    margin: 50px auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.chisiamo {
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 70%;
    width: auto;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: black;
    text-align: center;
    font-size: 22px;
    line-height: 1.4;
}

.descrizione {
    color: black;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    padding: 0 10px;
}

.contattaci {
    color: black;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    margin-top: 20px;
}

h3.menu-button {
    color: #ffffff;
    text-align: center;
    font-size: 26px;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #333;
    cursor: pointer;
    user-select: none;
    border-radius: 20px;
    margin-top: 10%;
}

.cards {
    display: none;
    flex-direction: column;
    margin: 20px auto 0 auto;
    max-width: 90%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.cards.show {
    display: flex; 
    opacity: 1;
    max-height: 1000px;
    overflow-y: auto; 
    flex-wrap: wrap; 
}

.immagine {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
}

.immagine img {
    display: block;
    max-width: 70%;
    height: auto;
    border-radius: 15px;
}

.testo {
    color: #F4F1F1;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}


@media (min-width: 390px) {
    .Title {
        margin-top: 30px;
    }

    h2 {
        font-size: 24px;
        display: none;
    }

    .descrizione {
        display: none;
    }

    .chisiamo {
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 70%;
    width: auto;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

    .contattaci {
        font-size: 24px;
        font-weight: bold;
    }

    h3 {
        font-size: 28px;
    }

    .cards {
        display: none;
        flex-direction: column;
        margin: 20px auto 0 auto;
        max-width: 70%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
        max-height: 0;
        overflow: hidden;
        margin-top: 5%;
        gap: 18px;
    }

    .cards.show {
        display: flex; 
        opacity: 1;
        max-height: 3000px;
        overflow-y: auto; 
        flex-wrap: wrap; 
    }
    

    .immagine {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
    }


    .immagine img {
        display: block;
        max-width: 70%;
        height: auto;
        border-radius: 15px;
    
}

    .testo {
        font-size: 20px;
    }

}

@media (min-width: 768px) {
    .chisiamo {
        max-width: 80%;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    }

    h2 {
        font-size: 26px;
        font-style: italic;
        display: block;
    }

    .descrizione {
        font-size: 20px;
        font-style: normal;
        display: block;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .contattaci {
        display: none;
    }


    h3.menu-button {
      color: #ffffff;
      text-align: center;
      font-size: 26px;
      padding-top: 5%;
      padding-bottom: 5%;
      margin-left: 30%;
      margin-right: 30%;
      background-color: #333;
      cursor: pointer;
      user-select: none;
      border-radius: 20px;
  }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 80%
    }

    .immagine {
        max-width: 48%;
        margin-bottom: 25px;
    }

    .testo {
        font-size: 22px;
    }

    footer {
        padding: 15px;
        font-size: 14px;
        margin-top: 30px;
    }
}

@media (min-width: 992px) {
    .Title {
        font-size: 50px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .chisiamo {
        max-width: 70%;
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h2 {
        font-size: 25px;
    }

    .descrizione {
        font-size: 20px;
        display: block;
        font-display: initial;
    }

    h3.menu-button {
      color: #ffffff;
      text-align: center;
      font-size: 26px;
      padding-top: 2%;
      padding-bottom: 2%;
      margin-left: 40%;
      margin-right: 40%;
      background-color: #333;
      cursor: pointer;
      user-select: none;
      border-radius: 20px;
  }

    .cards {
        justify-content: space-evenly;
    }

    .immagine {
        max-width: 40%;
    }

    .testo {
        font-size: 24px;
    }

    footer {
        padding: 20px;
        font-size: 16px;
        margin-top: 40px;
    }
}

